#menu{
    background-color:#DADADA;
    padding:1px;
    margin:0;
    font-size: $m-size;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    position:sticky;
}

#menu ul{
    display: flex;
    flex-flow: row;
    margin-left: 5px;
}

#menu li{
    padding: 5px;
    display: flex;
}

#menuItem{
    padding: 5px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: black;
}